[package]
name = "dnsclient"
version = "0.1.9"
description = "A small, simple and secure DNS client library"
authors = ["Frank Denis <github@pureftpd.org>"]
keywords = ["dns", "client"]
license = "ISC"
homepage = "https://github.com/jedisct1/rust-dnsclient"
repository = "https://github.com/jedisct1/rust-dnsclient"
categories = ["os::unix-apis"]
edition = "2018"

[dependencies]
async-std = { version = "1", optional = true }
dnssector = "0.2"
rand = "0.8.0"

[features]
async = [ "async-std" ]
default = [ "async" ]
